<!-- The interpolation data binding will render whatever is assigned to the hero property -->
<div>

  <!-- We're binding with the HeroDetailComponent's hero property with this component's -->
  <!-- selectedHero property. This is known as "property binding" -->
  <!-- And it's one-way data binding from selectedHero to the hero of the target element -->
  <h2>Top Heroes</h2>

  <ul class="heroes">

    <!-- We'll use the *ngFor directive to iterate through the list of heroes and display them all -->
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.rank}}">
        <span class="badge">{{hero.rank}}</span>
        <span class="name">{{hero.name}}</span>
      </a>
    </li>

  </ul>

</div>
