<!-- The interpolation data binding will render whatever is assigned to the hero property -->
<div>

  <!-- This hero details modal is only displayed when a hero is selected -->
  <!-- We do this using the *ngIf directive -->
  <div *ngIf="selectedHero">
    <h2>Hero Details</h2>
    <p><b>Hero name:</b> {{selectedHero.name}}</p>
    <p><b>id:</b> {{selectedHero.id}}</p>

    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="hero name">
    </div>
  </div>

  <h2>Top Heroes</h2>

  <ul class="heroes">

    <!-- We'll use the *ngFor directive to iterate through the list of heroes and display them all -->
    <li *ngFor="let hero of heroes">

    <!-- We'll also use Angular's class binding to add and remove a CSS class conditionally -->
    <!-- Syntax:  [class.some-css-class]="some-condition" -->
      <button type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span>
        <span class="name">{{hero.name}}</span>
      </button>
    </li>

  </ul>

</div>
