<!-- This is the component template -->
<!-- This is like App.js in React -->

<!-- This is also sometimes referred to as the "application shell" -->

<!-- The double curly braces are Angular's "interpolation binding syntax" -->
<!-- This interpolation binding presents the component's _title_ property value inside the HTML heading tag -->
<h1>{{title}}</h1>

<!-- This is the selector for the Heroes Component -->
<!-- It is specified in the metadata property "selector" in heroes.component.ts -->
<app-heroes></app-heroes>

<!-- Any other components we create will go here as well -->
<!-- And they will render in order -->
