/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  /* color: #00ff00; */
  color: #FFF;
  /* font-family: "Press Start 2P", monospace; */
  font-family: "Inconsolata", monospace;
  font-weight: 300;   /* Font weight for terminal effect theme */
  text-shadow: 0 0 5px #C8C8C8;
}

h1 {
  font-size: 4rem;
  margin: 50px 0;
}

#lives {
  font-size: 3rem;
}

#word-to-guess {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  text-shadow: 0 0 5px #C8C8C8;
}

#letters-container {
  margin-top: 15px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(9, 1fr);
}

button {
  display: grid;
  place-items: center;
  font-family: "Inconsolata", monospace;
  font-weight: 300;   /* Font weight for terminal effect theme */
  text-shadow: 0 0 20px #C8C8C8;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  /* border: 1px solid #00ff00; */
  border: 1px solid #fff;
  background-color: #000;
  background-image: radial-gradient(
    rgba(0, 160, 0, 0.75), black 160%
  );
  font-size: 2rem;
}

button:hover {
  /* background-color: #00ff00; */
  background-color: #000;
  background-image: none;
  color: #00ff00;
  /* border: 1px solid #000; */
  transition: .9s;
  box-shadow: 0 0 1rem #fff,
  0 0 .1rem #00ff00,
  0 0 .1rem #00ff00,
  0 0 0.1rem #00ff00,
  0 0 .1rem #00ff00,
  inset 0 0 .2rem #00ff00;
}
