form {
  width: 730px;
  height: 69px;
  border-radius: 15px;
  background-color: #1E2A47;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

span {
  color: #F74646;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  width: 160px;
}

#icon-group {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 55%;
}

input {
  margin: 0;
  background-color: transparent;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  border: none;
  margin-left: 10px;
  color: #FFF;
  caret-color: #0079FF; 
  width: 100%;
}

input::placeholder {
  color: #FFF;
  opacity: 70%;
}

input:focus {
  outline: none;
}

button {
  background-color: #0079FF;
  color: #FFF;
  height: 50px;
  width: 106px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  margin-right: 20px;
  border: none;
}

button:hover {
  background-color: #60ABFF;
  cursor: pointer;
}
