#dev-stats {
  width: 480px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #FFF;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 15px;
  border-radius: 10px;
  background-color: #141D2F;
}

b {
  font-size: 18px;
  font-weight: 800;
}

